BasedOnStyle: Google
PointerAlignment: Left
ReferenceAlignment: Pointer
ColumnLimit: 0
QualifierAlignment: Right
IncludeBlocks: Preserve
ConstructorInitializerIndentWidth: 6
ContinuationIndentWidth: 6
FixNamespaceComments: true
Cpp11BracedListStyle: true
