Checks: '*,
  -fuchsia-*,
  -hicpp-signed-bitwise,
  -llvmlibc-*,
  -llvm-header-guard,
  -misc-definitions-in-headers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion'
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;16;32;64'
FormatStyle: file
HeaderFilterRegex: '.*'
WarningsAsErrors: '*,-bugprone-easily-swappable-parameters'
