BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
# AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
# AlignConsecutiveDeclarations: Consecutive
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: false
BinPackParameters: false
# BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 0
ConstructorInitializerIndentWidth: 6
ContinuationIndentWidth: 6
Cpp11BracedListStyle: true
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
FixNamespaceComments: true
IncludeBlocks: Preserve
# InsertBraces: true # Unsupported until v15
InsertTrailingCommas: Wrapped
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
QualifierAlignment: Right
ReferenceAlignment: Pointer
# SeparateDefinitionBlocks: Always
