BasedOnStyle: Google
# AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
# AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
# AlignConsecutiveDeclarations: Consecutive
# AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
# BreakBeforeBraces: Stroustrup
BreakBeforeConceptDeclarations: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 255 # 127 # 95
ConstructorInitializerIndentWidth: 6
ContinuationIndentWidth: 6
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
FixNamespaceComments: true
IncludeBlocks: Preserve
InsertBraces: true # Unsupported until v15
InsertTrailingCommas: Wrapped
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 1000000
PenaltyBreakTemplateDeclaration: 0
PenaltyIndentedWhitespace: 100000
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
RequiresClausePosition: WithPreceding
QualifierAlignment: Right
ReferenceAlignment: Pointer
# SeparateDefinitionBlocks: Always
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
