[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "naoqi_driver"]
	path = naoqi_driver
	url = https://github.com/ros-naoqi/naoqi_driver
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
