# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug info
*.dSYM
*.profraw

# Mac Finder attributes
.DS_Store

# IDE files
.idea/
.vscode/*
!.vscode/c_cpp_properties.json

build/
ext/
*.json