[submodule "eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
[submodule "vcl"]
	path = third-party/vcl
	url = https://github.com/vectorclass/version2.git
