# Remove all extensionless executables
# Step 1: Remove everything
*
# Step 2: Un-remove everything else
!*.*
!*/
!.*
!Makefile
!compile
!code-checker
!reflash

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Finder attributes
.DS_Store

# IDE files
.vscode/
.idea/

naoqi-sdk/
