name: CI

on:
  push:
    branches: [ '*', '!main' ]
  workflow_dispatch:



jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: make test
        run: |
          sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          PATH=$(find -L /usr/lib -maxdepth 1 -type d -iname 'llvm*' | sort -r | head -n1)/bin:$PATH
          echo $PATH | tr ':' '\n'
          ls $(cut -d: -f1 <<< $PATH)
          make test
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Successful compilation
        run: |
          PATH=/usr/local/opt/llvm/bin:$PATH
          make test
